@font-face {
    font-family: 'Figtree';
    src: url('assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: 500 800;
}

:root {
    --font-main: 'Figtree', sans-serif;
    --color-yellow: hsl(47, 88%, 63%);
    --color-white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-main);
    background-color: var(--color-yellow);
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    background-color: var(--color-white);
    margin: 20px;
    max-width: 400px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #000;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 1);
}

.card__image {
    height: 215px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
    -webkit-user-drag: none;
}

.card__tag {
    background-color: var(--color-yellow);
    font-size: clamp(0.75rem, 3vw, 0.875rem);
    font-weight: 800;
    padding: 6px 13px;
    border-radius: 3px;
}

.card__date {
    display: block;
    font-size: clamp(0.75rem, 3vw, 0.875rem);
    margin: 1rem 0px;
    color: var(--gray-950);
}

.card__title {
    font-size: clamp(1.25rem, 5vw ,1.5rem);
    font-weight: 800;
    color: var(--gray-950);
}

.card__title,
.card__tag,
.card__date,
.card__author-name {
    user-select: none;
}

.card__title:hover {
    color: var(--color-yellow);
}

.card__description {
    font-size: clamp(.9rem, 3.5vw, 1rem);
    line-height: 1.5;
    margin: 1rem 0;
    color: var(--gray-500);
}

.card__author {
    display: flex;
    align-items: center;
}

.card__author-image {
    height: 30px;
}

.card__author-name {
    font-size: .9rem;
    font-weight: 800;
    padding-left: 10px;
}