@font-face {
    font-family: 'Figtree';
    src: url('assets/fonts/Figtree-VariableFont_wght.ttf');
    font-weight: 300 900;
}

:root {
    --font-main: 'Fitgree', sans-serif;
    --color-yellow: hsl(47, 88%, 63%);
    --color-white: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-main);
    background-color: var(--color-yellow);
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    background-color: var(--color-white);
    margin: 20px;
    max-width: 336px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #000;
}

.card__image {
    height: 187px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card__date {
    display: block;
}

.card__title {
    font-size: .9rem;
}

.card__description {
    font-size: .8rem;
}

.card__author-image {
    height: 30px;
}

.card__author-name {
    font-size: .8rem;
}